<div class="small-card clickable-card" (click)="onCardClick()">
  <!-- 图片区域 -->
  <div class="card-image-wrapper">
    <!--  调用图片 on-image-url" 存在则显示图片；不存在则显示占位图 -->
    <img
      [src]="imgUrl(event.cardImage)"
      (error)="onImageError($event)"
      class="card-image-img"
      alt="事件图片"
    />
    <div class="distance-in-image">
      <span class="material-icons">location_on</span>
      <span>{{ event.distance }}</span>
    </div>
  </div>

  <div class="user-info-row">
    <div class="user-avatar">
      <img
        [src]="avatarUrl(event?.avatar)"
        (error)="onAvatarError($event)"
        alt="用户头像"
        class="avatar-img-small"
      />
    </div>
    <div class="name-address-wrapper">
      <div class="event-title">{{ event.title }}</div>
      <div class="user-info">
        <span class="user-name">{{ event.name }}</span>
        <span class="user-address">{{ event.address }}</span>
      </div>
    </div>
  </div>

  <div class="demand">{{ event.demand }}</div>
  <div class="card-footer">
    <span class="price">{{ event.price }}</span>
  </div>
</div>
