<div class="quick-actions-grid">
  <div class="quick-action-card" (click)="openFavorites.emit()">
    <div class="quick-action-icon favorites">
      <ion-icon name="star"></ion-icon>
    </div>
    <div class="quick-action-info">
      <span class="quick-action-title">{{ t.favoritesTitle }}</span>
      <span class="quick-action-desc">{{ favoritesDesc }}</span>
    </div>
    <ion-icon name="chevron-forward" class="quick-action-arrow"></ion-icon>
  </div>
  <div class="quick-action-card" (click)="openFollows.emit()">
    <div class="quick-action-icon follows">
      <ion-icon name="people"></ion-icon>
    </div>
    <div class="quick-action-info">
      <span class="quick-action-title">{{ t.followsTitle }}</span>
      <span class="quick-action-desc">{{ followsDesc }}</span>
    </div>
    <ion-icon name="chevron-forward" class="quick-action-arrow"></ion-icon>
  </div>
  <div class="quick-action-card" (click)="openSupport.emit()">
    <div class="quick-action-icon support">
      <ion-icon name="chatbubble-ellipses"></ion-icon>
    </div>
    <div class="quick-action-info">
      <span class="quick-action-title">联系客服</span>
      <span class="quick-action-desc">反馈问题或寻求帮助</span>
    </div>
    <ion-icon name="chevron-forward" class="quick-action-arrow"></ion-icon>
  </div>
</div>
