<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>聊天详情</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list lines="none">
    @for (msg of messages(); track $index) {
      <ion-item>
        <div class="message-bubble">
          {{ msg }}
        </div>
      </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input
        [formControl]="messageInput"
        placeholder="输入消息..."
        (keyup.enter)="sendMessage()">
      </ion-input>
      <ion-button slot="end" fill="clear" (click)="sendMessage()">
        发送
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
