<ion-header>
  <ion-toolbar>
    <ion-title>登录</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content" [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">手机号</ion-label>
        <ion-input
          type="tel"
          inputmode="numeric"
          formControlName="phone"
          [maxlength]="11"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">验证码</ion-label>
        <ion-input
          type="tel"
          inputmode="numeric"
          formControlName="code"
          [maxlength]="4"
        ></ion-input>
        <ion-button
          slot="end"
          size="small"
          (click)="sendCode()"
          [disabled]="sendCooldown() > 0"
        >
          @if (sendCooldown() === 0) { 发送验证码 } @if (sendCooldown() > 0) {
          {{ sendCooldown() }}s }
        </ion-button>
      </ion-item>
    </ion-list>

    <div class="login-actions">
      <ion-button expand="block" type="submit">登录</ion-button>
    </div>
  </form>

  <div class="hint">提示：测试手机号为 1380000000X，验证码 1234</div>
</ion-content>
