<ion-header>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    [(ngModel)]="keyword"
    [placeholder]="t.placeholder"
    (keyup.enter)="onSearch()"
  ></ion-searchbar>

  <div class="button-container">
    <ion-button size="large" (click)="goBack()">
      <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      {{ t.back }}
    </ion-button>
    <ion-button size="large" (click)="onSearch()">
      <ion-icon slot="start" name="search-outline"></ion-icon>
      {{ t.search }}
    </ion-button>
    <ion-button size="large" (click)="aiSearch()">
      <ion-icon slot="start" name="sparkles-outline"></ion-icon>
      {{ t.aiAssist }}
    </ion-button>
  </div>
</ion-content>
