<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item [button]="true">
      <ion-avatar slot="start">
        <img src="assets/icon/notification.svg" alt="notification" />
      </ion-avatar>

      <ion-label>
        <div class="chat-header">
          <h2>通知</h2>
          <ion-note color="medium">DT</ion-note>
        </div>
        <p>Here is the last message send</p>
      </ion-label>

      <ion-badge slot="end" color="danger">0</ion-badge>
    </ion-item>

    @for (user of chatRooms; track user.name) {
      <ion-item [button]="true" (click)="goChat(user)">
        <ion-avatar slot="start">
          <img [src]="user.avatar" [alt]="user.name" />
        </ion-avatar>
        <ion-label>
          <div class="chat-header">
            <h2>{{user.name}}</h2>
            <ion-note color="medium">{{user.time}}</ion-note>
          </div>
          <p>{{user.lastMsg}}</p>
        </ion-label>
        <ion-badge slot="end" color="danger">{{user.count}}</ion-badge>
      </ion-item>
    }
  </ion-list>
</ion-content>
