
<div class="small-card clickable-card" (click)="onCardClick()">
  
  <!-- 图片区域 -->
  <div class="card-image-wrapper">
    <img [src]="event.cardImage" class="card-image-img" alt="事件图片">
    <div class="distance-in-image">
      <span class="material-icons">location_on</span>
      <span>{{ event.distance }}</span>
    </div>
  </div>
  
  <div class="user-info-row">
    <div class="user-avatar">
      <span class="material-icons">account_circle</span>
    </div>
    <div class="name-address-wrapper">
      <span class="user-name">{{ event.name }}</span>
      <span class="user-address">{{ event.address }}</span>
    </div>
  </div>

  <div class="demand">{{ event.demand }}</div>
  <div class="card-footer">
    <span class="price">{{ event.price }}</span>
  </div>
</div>