<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        {{ t.back }}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goHome()">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        {{ t.home }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="detail-container">
    <div class="content-area">
      <div class="publisher-info" (click)="goToUserParticular()">
        <div class="avatar-container">
          <img
            [src]="getAvatarUrl(userInfo?.avatar)"
            alt="用户头像"
            class="user-avatar"
          />
        </div>
        <div class="publisher-text">
          <h3>
            {{ userInfo.name || event?.name }}
            <ion-badge
              [color]="getServiceRoleColor(userInfo.providerRole)"
              class="service-badge"
            >
              {{ getServiceRoleText(userInfo.providerRole) }}
            </ion-badge>
          </h3>
          <p class="publisher-meta">
            {{ t.buyerRating }} {{ (userInfo.buyerRanking || 0) }} 分
            <br />
            {{ t.serviceRating }} {{ (userInfo.serviceRanking || 0) }} 分
            <br />
            {{ t.serviceCount }} {{ (userInfo.orderCount || 0) }} 次
            <br />
            {{ t.registerTime }} {{ userInfo.CreateTime }}
          </p>
        </div>
      </div>

      <div class="event-info">
        <h2 class="event-title">{{event?.title}}</h2>
        <div class="event-details">
          <p>
            <ion-icon name="location-outline"></ion-icon> {{ t.location }} {{
            event?.address }}
          </p>
          <p>
            <ion-icon name="time-outline"></ion-icon> {{ t.time }} {{ event?.createTime
            }}
          </p>
          <p>
            <ion-icon name="cash-outline"></ion-icon> {{ t.price }} ¥{{ event?.price }}
          </p>
        </div>
        <p class="event-description">{{ event?.demand }}</p>
      </div>

      <div class="event-icon-area">
        <img
          [src]="event && event.cardImage ? apiBase + event.cardImage : ''"
          [alt]="t.noImage"
          class="event-icon"
        />
      </div>
    </div>
  </div>
</ion-content>

<ion-footer id="particular-footer">
  <ion-toolbar>
    <ion-row class="bottom-actions">
      <ion-col>
        <ion-button expand="block" fill="outline" (click)="onCollect()">
          <ion-icon slot="start" name="star-outline"></ion-icon>
          {{ t.favorite }}
        </ion-button>
      </ion-col>
      @if (!isCurrentUserCreator) {
      <ion-col>
        <ion-button
          expand="block"
          color="primary"
          (click)="openOrderModal()"
          [disabled]="!canCreateOrder"
        >
          <ion-icon slot="start" name="document-text"></ion-icon>
          {{ canCreateOrder ? t.placeOrder : t.cannotOrder }}
        </ion-button>
      </ion-col>
      }
      <ion-col>
        <ion-button expand="block" (click)="onChat()">
          <ion-icon
            slot="start"
            [name]="isCurrentUserCreator ? 'create-outline' : 'chatbubble-outline'"
          ></ion-icon>
          {{ isCurrentUserCreator ? t.edit : t.chat }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>

<!-- 编辑事件弹窗 -->
<ion-modal [isOpen]="isEditModalOpen" (didDismiss)="closeEditModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ t.editEvent }}</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="closeEditModal()">{{ t.close }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form [formGroup]="editForm">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="stacked">{{ t.titleRequired }}</ion-label>
            <ion-input
              formControlName="EventTitle"
              placeholder="简明描述"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ t.typeRequired }}</ion-label>
            <ion-select formControlName="EventType" interface="popover">
              <ion-select-option [value]="0">{{ t.request }}</ion-select-option>
              <ion-select-option [value]="1">{{ t.help }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ t.categoryRequired }}</ion-label>
            <ion-input
              formControlName="EventCategory"
              placeholder="如：电脑维修"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ t.locationRequired }}</ion-label>
            <ion-input
              formControlName="Location"
              placeholder="详细地址"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ t.priceLabel }}</ion-label>
            <ion-input
              type="number"
              formControlName="Price"
              placeholder="0 表示无偿帮助"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ t.detailsRequired }}</ion-label>
            <ion-textarea
              formControlName="EventDetails"
              placeholder="补充说明"
            ></ion-textarea>
          </ion-item>
        </ion-list>
        <div style="padding: 16px">
          <ion-button
            expand="block"
            (click)="submitEdit()"
            [disabled]="isSavingEdit"
          >
            {{ isSavingEdit ? t.saving : t.save }}
          </ion-button>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal [isOpen]="isOrderModalOpen" (didDismiss)="closeOrderModal()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ t.orderForm }}</ion-title>
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="closeOrderModal()">{{ t.close }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form [formGroup]="orderForm">
        <ion-list lines="full">
          <ion-item>
            <ion-label position="stacked">{{ t.addressRequired }}</ion-label>
            <ion-input
              formControlName="DetailLocation"
              placeholder="请输入上门/交付地址"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{ t.extraInfo }}</ion-label>
            <ion-textarea
              formControlName="AdditionalInfo"
              [autoGrow]="true"
              placeholder="例如时间、联系方式、特殊要求"
            ></ion-textarea>
          </ion-item>
        </ion-list>
        <div style="padding: 16px">
          <ion-button
            expand="block"
            (click)="submitOrder()"
            [disabled]="isSubmittingOrder"
          >
            {{ isSubmittingOrder ? t.submitting : t.confirmOrder }}
          </ion-button>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>
