<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ t.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #chatContent class="ion-padding">
  <div class="chat-container">
    @for (msg of messages(); track $index) {
    <div class="message-group" [class.me]="isMyMessage(msg)">
      <div class="message-row">
        <ion-avatar class="message-avatar">
          <img
            [src]="getMessageAvatar(msg)"
            [alt]="t.userAvatar"
            (error)="onAvatarError($event)"
          />
        </ion-avatar>
        <div class="message-main">
          <div class="message-meta">
            <span class="user-name"
              >{{ getSenderName(msg) }}</span
            >
            <span class="timestamp"> {{ msg.sendTime | date:'HH:mm' }}</span>
          </div>
          <div class="message-bubble">{{ msg.text }}</div>
        </div>
      </div>
    </div>
    }
  </div>
</ion-content>

@if (showChat) {
<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input
        [formControl]="messageInput"
        [placeholder]="t.inputPlaceholder"
        (keyup.enter)="sendMessage()"
      >
      </ion-input>
      <ion-button slot="end" fill="clear" (click)="sendMessage()">
        {{ t.send }}
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
}
