<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (!showChat) {
    <h1>您好！请登录</h1>
    <h1>Welcome! Please Login</h1>
    <h3>Now directing you to the login page...</h3>
  }
  @if (showChat) {
    <ion-list>
<!--      这里是每一个用户登陆后对应的通知消息-->
      <ion-item [button]="true" (click)="goChat(systemRoom)">
        <ion-avatar slot="start">
          <img src="../../../assets/icon/notification.svg" alt="notification" />
        </ion-avatar>

        <ion-label>
          <div class="chat-header">
            <h2>通知</h2>
            <ion-note color="medium">DT</ion-note>
          </div>
          <p>Here is the last message send</p>
        </ion-label>

        <ion-badge slot="end" color="danger">0</ion-badge>
      </ion-item>
<!-- 这里通过读取已存储的聊天列表来创建聊天（注：目前还没有更新ts中通过api获取chatList）-->
      @for (user of chatRooms; track user.name) {
        <ion-item [button]="true" (click)="goChat(user)">
          <ion-avatar slot="start">
            <img [src]="user.avatar" [alt]="user.name" />
          </ion-avatar>
          <ion-label>
            <div class="chat-header">
              <h2>{{user.name}}</h2>
              <ion-note color="medium">{{user.time}}</ion-note>
            </div>
            <p>{{user.lastMsg}}</p>
          </ion-label>
          <ion-badge slot="end" color="danger">{{user.count}}</ion-badge>
        </ion-item>
      }
    </ion-list>
  }
</ion-content>
