<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- 搜索条：在头部显示，点击跳转到搜索页面 -->
    <div class="header-search-wrapper" (click)="navigateToSearch()">
      <ion-searchbar
        class="header-search-bar"
        [disabled]="true"
        placeholder="点击搜索"
        [animated]="true"
        show-clear-button="never">
      </ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- 调用搜索组件，用于显示搜索结果 -->
  <app-universal-search [dataSource]="eventsData()" [detailRoute]="'/tabs/tab2/detail'">

    <!--
      【关键点】必须把自定义的组件写在 <ng-template> 里面
      #cardTemplate: 模板标识符
      let-event="event": 定义变量 event，接收搜索组件传来的数据
      let-onClick="onItemClick": 定义变量 onClick，接收搜索组件传来的点击方法
    -->
    <ng-template #cardTemplate let-event="event" let-onClick="onItemClick">


      <app-show-event
        [event]="event"
        (cardClick)="onClick(event)">
      </app-show-event>

    </ng-template>

  </app-universal-search>
</ion-content>
